@font-face {
    font-family: 'Greek-Freak';
    src: url('Greek-Freak.ttf') format('truetype');
}
/* to jest selektor uniwersalny, resetuje marginesy zeby przegladarka nie psula ukladu */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #faf7ea;
    color: #111d5f;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
    padding: 20px;
}

nav {
    background-color: #293994;
    padding: 10px;
    margin-bottom: 20px;
}

/* styl dla linkow w menu */
nav a {
    color: #faf7ea;
    text-decoration: none;
    margin-right: 15px;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: #faf7ea;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    color: #293994;
    font-family: Greek-Freak;
    font-size: 5em; 
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    padding: 0 20px;
}

.wyroznienie {
    font-style: italic;
    color: #db21af;
}

.media {
    display: flex;
}

.zdj {
    flex-basis: 40%;
}

.tekst {
    flex-basis: 60%;
}

.prawa {
    flex-direction: row-reverse;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding: 20px;
    font-size: 0.8em; 
    text-align: center;
}